<!DOCTYPE html>
<html lang="zxx">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>
    <div id="wrapper">
      <%- include('../partials/header', {style: "transparent", status:"logout"}); %>
      <!-- content begin -->
      <div class="no-bottom no-top" id="content">
        <div id="top"></div>

        <!-- section begin -->
        <section
          id="subheader"
          class="text-light"
          data-bgimage="url(images/background/subheader.jpg) top"
        >
          <div class="center-y relative text-center">
            <div class="container">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h1>Social</h1>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </section>
        <!-- section close -->

        <!-- section begin -->
        <section aria-label="section">
          <div class="container">
            <div class="row wow fadeIn">
              <!-- nft item begin -->
              <%- include('../partials/user.ejs', {users} )%>

              <div class="col-md-12 text-center">
                <a href="#" id="loadmore" class="btn-main wow fadeInUp lead"
                  >Load more</a
                >
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- content close -->
      <a href="#" id="back-to-top"></a>
      <%- include('../partials/footer'); %>
    </div>
    <%- include('../partials/jsFiles'); %>
  </body>
</html>
